/* Reset and General Styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Noto Sans KR', sans-serif;
    color: white;
    background: url('bg.gif') no-repeat center center fixed;
    background-size: cover;
}

/* Navbar Styling */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    width: 100%;
    top: 0;
    height: 80px;
    z-index: 10;
}

.logo img {
    height: 60px;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin: 0 20px;
}

.nav-links li a {
    text-decoration: none;
    color: white;
    font-size: 1.2em;
    transition: transform 0.3s ease, text-shadow 0.3s ease;
}

.nav-links li a:hover {
    transform: scale(1.2);
    text-shadow: 0 4px 10px rgba(255, 255, 255, 0.6);
}

.icons a img {
    height: 40px;
    width: auto;
    border-radius: 50%;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.icons a:hover img {
    transform: scale(1.2);
    box-shadow: 0 4px 15px rgba(255, 255, 255, 0.6);
    border-radius: 50%;
}

/* Main Content */
.main-content {
    text-align: center;
    margin-top: 150px;
}

.main-content h1 {
    font-size: 2em;
    margin-bottom: 10px;
}

.main-content p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.lotto-btn {
    font-size: 1.5em;
    padding: 15px 40px;
    border: none;
    background: linear-gradient(to right, #8e44ad, #3498db);
    color: white;
    border-radius: 30px;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

.lotto-btn:hover {
    background: linear-gradient(to right, #cb89e7, #83bce2);
    transform: scale(1.2);
    box-shadow: 0 4px 15px rgba(255, 255, 255, 0.6);
}

/* Lotto Ball and Result Container */
#result-container {
    text-align: center;
    margin-top: 50px;
}

.lotto-ball {
    width: 70px;
    height: 70px;
    margin: 2px;
}

.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.loading-gif {
    width: 200px;
    height: auto;
}

/* Authentication Form Styling */
.auth-content {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    margin-top: 100px;
}

.auth-content h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.auth-btn {
    width: 100%;
    padding: 10px;
    font-size: 1.2em;
    color: #fff;
    background: linear-gradient(45deg, #3498db, #8e44ad);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.auth-btn:hover {
    background: linear-gradient(45deg, #2980b9, #6d3494);
}

/* Mobile Styling */
@media only screen and (max-width: 480px) {
    .navbar {
        padding: 10px 15px;
        height: 70px;
    }

    .logo img {
        height: 50px;
    }

    .nav-links li a {
        font-size: 0.8em;
    }

    .lotto-btn {
        font-size: 1em;
        padding: 10px 25px;
    }

    .lotto-ball {
        width: 40px;
        height: 40px;
    }

    #result-container {
        margin-top: 70px;
    }

    .main-content h1 {
        font-size: 1.8em;
    }

    .main-content p {
        font-size: 1em;
    }

    .auth-content {
        width: 90%;
        padding: 15px;
    }

    .auth-content h2 {
        font-size: 1.6em;
    }

    .auth-btn {
        font-size: 1em;
        padding: 8px;
    }
}
